
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-darkest: #044E54;
$main-darker: #0E7C86;
$main-dark: #14919B;
$main: #2CB1BC;
$main-light: #38BEC9;
$main-lighter: #87EAF2;
$main-lightest: #E0FCFF;
$blue: #3490dc;
$treasures: #5B6A70;
$living: #961426;
$apply: #C08531;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
